{% extends "base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">BigBrainJobs</a>
            <div>
                <button type="button" class="btn btn-primary">Log In</button>
                <button type="button" class="btn btn-success">Sign Up</button>
            </div>
        </div>
    </nav>
    <div class="container">
        
    </div>
{% endblock content %}
