{% extends "base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">BigBrainJobs</a>
            <div class="d-flex">
                <button type="button" class="btn btn-primary me-3">Log In</button>
                <button type="button" class="btn btn-success">Sign Up</button>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <form method="get" class="row align-items-center">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="col">
                    <div class="form-floating">
                        {{ field.errors }}
                        {{ field }}
                        {{ field.label_tag }}
                        {{ field.help_text }}
                    </div>
                </div>
            {% endfor %}
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg">Find Jobs</button>
            </div>
        </form>
        <div class="row">
            {% for job in page_obj %}<div class="col-6">{{ job.title }}</div>{% endfor %}
        </div>
        <div class="row">
            {% if page_obj.has_previous %}
                <div class="col">
                    <a href="?page=1&what={{ request.GET.what }}&where={{ request.GET.where }}">first</a>
                    <a href="?page={{ page_obj.previous_page_number }}&what={{ request.GET.what }}&where={{ request.GET.where }}">previous</a>
                </div>
            {% endif %}
            <div class="col">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
            {% if page_obj.has_next %}
                <div class="col">
                    <a href="?page={{ page_obj.next_page_number }}&what={{ request.GET.what }}&where={{ request.GET.where }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&what={{ request.GET.what }}&where={{ request.GET.where }}">last</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
