<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                BigBrainJobs
            {% endblock title %}
        </title>
        <meta name="description" content="A jobsite for people with big brains."/>
        <meta name="keywords" content="jobs"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'dist/main.css' %}"/>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <script type="module" src="{% static 'dist/main.js' %}"></script>
    </body>
</html>
